google-services.json

venv
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3
postgres_data/

# Environment variables
.env*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Alembic
alembic/versions/*.pyc

# Logs
*.log
